.obsidian/

.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/app.json

.trash/
.DS_Store




# Ignore Smart Environment folder
.smart-env
/.smtcmp_vector_db.tar.gz
/.smtcmp_vector_db.tar.gz