.obsidian/

.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/app.json

.trash/
.DS_Store




# Ignore Smart Environment folder
.smart-env
/.smtcmp_vector_db.tar.gz
/.smtcmp_vector_db.tar.gz
/.smtcmp_json_db/chats/v1_%20%20%EC%9D%B4%20%ED%8C%8C%EC%9D%BC%EC%9D%98%20%EB%82%B4%EC%9A%A9%EC%9D%84%20%EC%9A%94%EC%95%BD%20%EC%A0%95%EB%A6%AC%ED%95%B4%EC%A4%98_1744108422213_907d17a3-5c80-4b4f-aaf5-080740e02fdd.json
/.smtcmp_json_db/chats/v1_%20%EC%9D%B4%20%EB%85%B8%ED%8A%B8%EC%9D%98%20%20title%EA%B3%BC%20description%EC%9D%84%20%EC%9E%91%EC%84%B1%ED%95%B4%EC%A4%98%20(%ED%95%9C%EA%B5%AD%EC%96%B4)_1757472073141_807d1cc0-ae90-4faa-9a79-535d75532ba4.json